.name {
  color: aqua;
  max-width: 20%;
  min-width: 15%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.container {
  max-width: 100% !important;
}


body {
  overflow-x: hidden;
  margin: 0;
}

header,
footer {
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  padding: 15px;
}

h1 {
  font-size: 5rem;
}

footer {
  position: relative; /* Adjust footer positioning */
  padding: 1rem;
}

.links {
  text-align: center;
}

.navbar {
  max-width: 100%;
  overflow: hidden;
}
